/* HTML */
body {
  background-color: green;
}
body {
  background-color: #eee;
}

/* CSS library modifications */

/* Components */
.content {
  background-color: #ddd;
  line-height: 1.5;
  border: 3px solid blue;
  padding: 0.5rem;
}

/* Utility classes */
.bg-col_ddd {
  background-color: #ddd;
}
.line-height_1-5 {
  line-height: 1.5;
}
.border {
  border: 3px solid blue;
}
.padding {
  padding: 0.5rem;
}

/* Media queries */
@media only screen and (max-width: 768px) {
  body {
    background-color: red;
  }
}